<!-- Title: File System -->
<div class="mgmt_container">

    <div id="sync_mgmt_div">
        <p>
            <label for="sync_host">Host to sync data to</label>
            <input size="50" type="text" id="sync.host" value="$!siteConfig.getProperty("sync.host","")"  onchange="window.syncManager.dirtyForm();" />
            <small>URL of host to sync data to</small>
        </p>

	<p>
            <label for="anon_script">Pre sync anonymization script</label>
            <textarea rows="20" cols="80" type="text" name="sync.anonymization.script" id="sync.remote.script" value="$!siteConfig.getProperty("sync.remote.script","")"  onchange="window.syncManager.dirtyForm();" ></textarea>
            <small>Anonymization Script to apply before Sync</small>
        </p>
      
    </div>
    <div class="buttons">
        <input type="button" class="submit" value="Save" name="eventSubmit_doPerform" id="sync_save_button" onclick="window.syncManager.saveTabSettings();"/>
        <input type="button" class="reset" value="Reset" name="eventSubmit_doReset" id="sync_reset_button" onclick="window.syncManager.resetForm();" disabled/>
    </div>
</div>


<script type="text/javascript">



    function configurationSyncTabChange(obj) {
        if(obj.newValue.get("href")=="#Sync") {
            if(window.syncManager==undefined) {
                window.syncManager = new SettingsTabManager('sync_mgmt_div', 'Sync');
            }
        }
    }

    function addSyncMgmtMonitor(){
        if(window.configurationTabView.get("activeTab").get("href")=="#Sync") {
            if(window.syncManager==undefined) {
                window.syncManager = new SettingsTabManager('sync_mgmt_div', 'Sync');
            }
        } else {
            window.configurationTabView.subscribe("activeTabChange", configurationSyncTabChange);
        }
    }

    YAHOO.util.Event.onDOMReady(addSyncMgmtMonitor);
    putConfigurationControls('Sync', ['sync.host','sync.anonymization.script']);

</script>
